{% extends 'admin/baseTemplate.html' %}

{% block title %}
Панель администратора
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Администратор</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Настройки</a>
            </li>
        </ul>
    </div>
    <div class="">
        <button id="themeButton" class="btn btn-secondary">Темная тема</button>
        <a href="/" class="btn btn-primary">Войти</a>
    </div>
</nav>
<div class="container mt-3">
    <h2>Здравствуйте, вы вошли в систему как гость</h2>
</div>
{% endblock %}
