{% extends 'admin/baseTemplate.html' %}

{% block title %}
Панель администратора
{% endblock %}

{% block contentHead %}
{% load static %}
<script src="{% static "js/admin.js" %}" defer></script>
<script src="{% static "js/logout.js" %}" defer></script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Администратор</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Настройки</a>
            </li>
        </ul>
    </div>
    <div class="">
        <button id="themeButton" class="btn btn-secondary">Темная тема</button>
        <a href="/" class="btn btn-primary" onclick="logout()">Выйти</a>
    </div>
</nav>
<div class="container mt-3">
    <h2>Здравствуйте, {{ user.firstName }}</h2>
    <h2>Добро пожаловать в панель администратора</h2>

    <h3 class="mt-5">Фамилии всех зарегистрированных пользователей</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фамилии</th>
            </tr>
        </thead>
        <tbody>
        {% for user in usersSurname %}
            <tr>
                <th scope='row'>{{ forloop.counter }}</th>
                <td>{{ user }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3 class="mt-5">Общее количество зарегистрированных пользователей</h3>
    <span>Количество: {{ userCount }}</span>

    <h3 class="mt-5">Количество пользователей за последний месяц</h3>
    <span>Количество: {{ userCountLastMonth }}</span>

    <h3 class="mt-5">Последний зарегистрированный пользователь</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">E-mail</th>
                <th scope="col">Возраст</th>
                <th scope="col">Пол</th>
                <th scope="col">Дата регистрации</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ userLast.firstName }}</td>
                <td>{{ userLast.lastName }}</td>
                <td>{{ userLast.email }}</td>
                <td>{% if userLast.age == 0 %}Не совершеннолетний{% else %}Совершеннолетний{% endif %}</td>
                <td>{% if userLast.gender == 1 %}Мужчина{% else %}Женщина{% endif %}</td>
                <td>{{ userLast.dateCreate }}</td>
            </tr>
        </tbody>
    </table>

    <h3 class="mt-5">Поиск пользователей по слову</h3>
    <form class="form-inline my-2 my-lg-0 findUserWord" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск" name="search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
    <p class="messageFindUserWord mt-3 alert alert-info" style="display: none"></p>
    <table class="tableFindUserWord table mt-3" style="display: none">
        {% csrf_token %}
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">E-mail</th>
                <th scope="col">Возраст</th>
                <th scope="col">Пол</th>
                <th scope="col">Дата регистрации</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h3 class="mt-5">Поиск пользователей по фразе</h3>
    <form class="form-inline my-2 my-lg-0 findUserPhrase" method="get">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск" name="search" id="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
    <p class="messageFindUserPhrase mt-3 alert alert-info" style="display: none"></p>
    <table class="tableFindUserPhrase table mt-3" style="display: none">
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">E-mail</th>
                <th scope="col">Возраст</th>
                <th scope="col">Пол</th>
                <th scope="col">Дата регистрации</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

{% endblock %}