{% extends 'admin/baseTemplate.html' %}

{% block contentHead %}
<script src='https://www.google.com/recaptcha/api.js' defer></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        isShowAlert();
        var password = document.getElementById("password");
        var passwordConfirm = document.getElementById("confirmPassword");
        var togglePassword = document.getElementById("togglePassword");
        var toggleConfirmPassword = document.getElementById("toggleConfirmPassword");

        togglePassword.addEventListener('click', function (e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.children[0].classList.toggle('fa-eye-slash');
        });
        if (toggleConfirmPassword !== undefined)
        toggleConfirmPassword.addEventListener('click', function (e) {
            const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordConfirm.setAttribute('type', type);
            this.children[0].classList.toggle('fa-eye-slash');
        });
        document.querySelector('form').addEventListener('submit', function(event) {
            /*if (grecaptcha.getResponse() == "") {
                event.preventDefault();
                var errorDiv = document.querySelector('.alert-danger ul');
                var newError = document.createElement('li');
                newError.textContent = "Пожалуйста, пройдите проверку reCAPTCHA.";

                errorDiv.appendChild(newError);
                isShowAlert();
            }*/
        });

        function isShowAlert() {
            var div = document.querySelector('.alert');
            var list = document.querySelector('.alert ul');

            if (list.childNodes.length > 1) {
                div.style.display = 'block';
            } else {
                div.style.display = 'none';
            }
        }
    });
</script>
{% endblock %}

{% block content %}
    <header class="d-flex flex-row-reverse p-3">
        <button id="themeButton" class="btn btn-secondary mt-3 ">Темная тема</button>
    </header>
    <div class="container">
        {% block auth-content %}{% endblock %}

        {% block contentHeadSingup %}{% endblock %}
    </div>
{% endblock %}
