{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/darkTheme.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/darkTheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block contentHead %}{% endblock %}
</head>
<body class="light-mode">
    {% block content %}{% endblock %}
</body>
</html>
