{% extends 'admin/auth.html' %}

{% block title %}
Вход
{% endblock %}
{% block contentHeadSingup %}
<script>
    function clearForm(form) {
        // Получаем все элементы формы
        var elements = form.elements;

        // Проходим по каждому элементу
        for (i = 0; i < elements.length; i++) {

            field_type = elements[i].type.toLowerCase();

            switch (field_type) {

                case "text":
                case "password":
                case "email":
                case "textarea":
                case "hidden":
                    elements[i].value = "";
                    break;

                default:
                    break;
            }
        }
    }
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('.signup');
        clearForm(form);
        form.addEventListener('submit', function(event) {
            var password = document.querySelector('#password').value;
            var confirmPassword = document.querySelector('#confirmPassword').value;
            var errorBlock = document.querySelector('.terms-label ul');

            if (password !== confirmPassword) {
                event.preventDefault();
                var li = document.createElement('li');
                li.textContent = 'Пароли не совпадают';
                errorBlock.appendChild(li);
            } else {
            }
        });
    });
</script>
{% endblock %}
{% block auth-content %}
<h1 class="p-4 text-center">Форма регистрации</h1>
<form class="signup" method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="firstName">Имя</label>
        {{ form.firstName }}
    </div>
    <div class="form-group">
        <label for="lastName">Фамилия</label>
        {{ form.lastName }}
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label for="login">Логин</label>
        {{ form.login }}
    </div>
    <div class="form-group">
        <label for="{{ form.password.id_for_label }}">Пароль</label>
        <div class="input-group">
            {{ form.password }}
            <div class="input-group-append">
                <button id="togglePassword" type="button" class="btn btn-light"><i class="fa fa-eye" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.confirmPassword.id_for_label }}">Подтверждение пароля</label>
        <div class="input-group">
            {{ form.confirmPassword }}
            <div class="input-group-append">
                <button id="toggleConfirmPassword" type="button" class="btn btn-light"><i class="fa fa-eye" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="age">Возраст</label>
        {{ form.age }}
    </div>
    <div class="form-group">
        <label>Пол</label><br>
        <div class="form-check form-check-inline">
            {{ form.gender }}
        </div>
    </div>
    <div class="form-group form-check">
        {{ form.terms }}
        <label class="form-check-label" >Принимаю правила пользования сервисом</label>

    </div>
    <div class="g-recaptcha" data-sitekey="6LfoEJQpAAAAAE87zdU5FMEawdhZrHRwiN2c5Yxs"></div>
    <div class="alert alert-danger terms-label mt-2" role="alert">
        <ul style="list-style: none; margin: 0; padding: 0;">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Отправить</button>
</form>
<a href="/"><button type="submit" class="btn btn-info mt-4">Вернуться к форме входа</button></a>
{% endblock %}