{% extends 'admin/auth.html' %}
{% block title %}
Вход
{% endblock %}
{% block contentHeadSingup %}
<script>
    function clearForm(form) {

        // Получаем все элементы формы
        var elements = form.elements;
        console.log(elements)
        // Проходим по каждому элементу
        for (i = 0; i < elements.length; i++) {

            field_type = elements[i].type.toLowerCase();

            switch (field_type) {

                case "text":
                case "password":
                case "email":
                case "textarea":
                case "hidden":
                    elements[i].value = "";
                    break;

                default:
                    break;
            }
        }
    }
    window.addEventListener("load", (event) => {
        var form = document.querySelector('.signin');

        clearForm(form);
      });
</script>
{% endblock %}
{% block auth-content %}
<h2>Вход</h2>
<form class="signin" method="POST" action="{% url 'signinUser' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="login">Логин</label>
        {{ form.login }}
    </div>
    <div class="form-group">
        <label for="{{ form.password.id_for_label }}">Пароль</label>
        <div class="input-group">
            {{ form.password }}
            <div class="input-group-append">
                <button id="togglePassword" type="button" class="btn btn-light"><i class="fa fa-eye" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="g-recaptcha" data-sitekey="6LfoEJQpAAAAAE87zdU5FMEawdhZrHRwiN2c5Yxs"></div>
    <div class="alert alert-danger terms-label mt-2" role="alert">
        <ul style="list-style: none; margin: 0; padding: 0;">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Войти</button>
</form>
<a href="{% url 'signup' %}"><button class="btn btn-info mt-5">Регистрация</button></a>
{% endblock %}
