<template>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фамилии</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(surname, index) in surnames" :key="index">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ surname }}</td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import { ref, onMounted } from 'vue';
import { getToken } from '../api/auth';
import axios from 'axios';

export default {
    setup() {
        const surnames = ref([]);

        const fetchData = async () => {
            const tokenValue = await getToken();
            const response = await axios.get(`${process.env.VUE_APP_BACKEND_BASE_URL}/user/allSurname`, {
                headers: {
                    'Authorization': `Bearer ${tokenValue}`
                }
            });
            const data = response.data;
            surnames.value = data;
        };

        onMounted(fetchData);

        return {
            surnames
        };
    }
};
</script>