<template>
    <span>Количество: {{ userCountLastMonth }}</span>
</template>

<script>
import { ref, onMounted } from 'vue';
import { getToken } from '../api/auth';
import axios from 'axios';

export default {
    setup() {
        const userCountLastMonth = ref(null);

        const fetchData = async () => {
            const tokenValue = await getToken();
            const response = await axios.get(`${process.env.VUE_APP_BACKEND_BASE_URL}/user/countLastMonth`, {
                headers: {
                    'Authorization': `Bearer ${tokenValue}`
                }
            });
            const data = response.data;
            userCountLastMonth.value = data.userCountLastMonth;
        };

        onMounted(fetchData);

        return {
            userCountLastMonth
        };
    }
};
</script>