<template>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">E-mail</th>
                <th scope="col">Возраст</th>
                <th scope="col">Пол</th>
                <th scope="col">Дата регистации</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ userLast.firstName }}</td>
                <td>{{ userLast.lastName }}</td>
                <td>{{ userLast.email }}</td>
                <td>{{ userLast.age ? 'Да' : 'Нет' }}</td>
                <td>{{ userLast.gender ? 'Мужской' : 'Женский' }}</td>
                <td>{{ new Date(userLast.dateCreate).toLocaleDateString() }}</td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import { ref, onMounted } from 'vue';
import { getToken } from '../api/auth';
import axios from 'axios';

export default {
    setup() {
        const userLast = ref({});

        const fetchData = async () => {
            const tokenValue = await getToken();
            const response = await axios.get(`${process.env.VUE_APP_BACKEND_BASE_URL}/user/last`, {
                headers: {
                    'Authorization': `Bearer ${tokenValue}`
                }
            });
            const data = response.data;
            userLast.value = data.userLast;
        };

        onMounted(fetchData);

        return {
            userLast
        };
    }
};
</script>