<template>
    <div class="findUserWord">
        <form class="form-inline my-2 my-lg-0 findUserWord" @submit.prevent="fetchData()">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск" name="search"
                required v-model="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
        <p class="messageFindUserPhrase mt-3 alert alert-info" v-if="messageShow !== false">Пользователь не найден</p>
        <table class="tableFindUserWord table mt-3" v-if="users.length > 0">
            <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Возраст</th>
                    <th scope="col">Пол</th>
                    <th scope="col">Дата регистации</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" :key="user._id">
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.age ? 'Да' : 'Нет' }}</td>
                    <td>{{ user.gender ? 'Мужской' : 'Женский' }}</td>
                    <td>{{ new Date(user.dateCreate).toLocaleDateString() }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import { ref } from 'vue';
import { getToken } from '../api/auth';
import axios from 'axios';


export default {
    setup() {
        const search = ref('');
        const users = ref([]);
        const messageShow = ref(false);

        const fetchData = async () => {
            try
            {
                const tokenValue = await getToken();
                const response = await axios.get(`${process.env.VUE_APP_BACKEND_BASE_URL}/user/findWord`, {
                    params: {
                    search: search.value
                    },
                    headers: {
                    'Authorization': `Bearer ${tokenValue}`
                    }
                });
                users.value = response.data;
                messageShow.value = false;
            }
            catch {
                messageShow.value = true;
            }
        };

        return {
            search,
            users,
            fetchData,
            messageShow
        };
    }
};
</script>