<template>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Администратор</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Настройки</a>
                </li>
            </ul>
        </div>
        <div>
            <ButtonTheme />
            <router-link to="/" class="btn btn-primary m-1" @click="logout_action()" v-if="isAuth">Выйти</router-link>
            <router-link to="/" class="btn btn-primary m-1" v-else>Войти</router-link>
        </div>
    </nav>
</template>

<script>
import { logout } from "../api/auth"
import ButtonTheme from './ButtonTheme.vue'

export default {
    props: {
        isAuth: Boolean,
    },
    components: {
        ButtonTheme: ButtonTheme
    },
    methods: {
        logout_action() {
            logout()
        }
    }
}
</script>