<template>
    <button id="themeButton" class="btn btn-secondary" @click="toggleTheme">{{ buttonText }}</button>
</template>

<script>
export default {
    data() {
        return {
            isDark: false,
            buttonText: 'Темная тема',
        };
    },
    methods: {
        toggleTheme() {
            if (!this.isDark) {
                document.body.classList.remove('light-mode');
                document.body.classList.add('dark-mode');
                this.buttonText = 'Светлая тема';
                this.isDark = true;
            } else {
                document.body.classList.remove('dark-mode');
                document.body.classList.add('light-mode');
                this.buttonText = 'Темная тема';
                this.isDark = false;
            }
            localStorage.setItem("darkTheme", this.isDark);
        },
    },
    mounted() {
        const theme = localStorage.getItem("darkTheme");
        if (theme === null) return;
        if (theme === "true") {
            document.body.classList.remove('light-mode');
            document.body.classList.add('dark-mode');
            this.buttonText = 'Светлая тема';
            this.isDark = true;
        }
    },
};
</script>
