<template>
    <form @submit.prevent="submitForm">
        <div class="form-group">
            <label for="login">Логин</label>
            <input type="text" name="login" class="form-control" pattern=".{6,}" required v-model="login"
                title="не менее 6 символов">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <div class="input-group">
                <input :type="passwordFieldType" class="form-control" name="password" id="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required v-model="password"
                    title="не менее 8 символов, обязательно совместное использование прописных, строчных букв, цифр, символов">
                <div class="input-group-append">
                    <button id="togglePassword" type="button" class="btn btn-light" @click="togglePasswordVisibility"><i
                            class="fa" :class="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        <vue-recaptcha v-show="showRecaptcha" sitekey="6LfoEJQpAAAAAE87zdU5FMEawdhZrHRwiN2c5Yxs" size="normal"
            theme="light" hl="ru" :loading-timeout="loadingTimeout" @verify="recaptchaVerified"
            @expire="recaptchaExpired" @fail="recaptchaFailed" @error="recaptchaError" ref="vueRecaptcha">
        </vue-recaptcha>
        <div class="alert alert-danger terms-label mt-2" role="alert" v-show="isErrorVisible">
            {{ errorMessage }}
        </div>
        <button type="submit" class="btn btn-primary mt-2">Войти</button>
    </form>
</template>

<script>
import vueRecaptcha from 'vue3-recaptcha2';

import { login } from "../api/auth"
export default {
    data() {
        return {
            login: '',
            password: '',
            showPassword: false,
            errorMessage: '',
            isErrorVisible: false,
            showRecaptcha: true,
            loadingTimeout: 30000, // 30 seconds
            recaptchaToken: ''
        };
    },
    components: {
        vueRecaptcha
    },
    computed: {
        passwordFieldType() {
            console.log(process.env)
            return this.showPassword ? 'text' : 'password';
        }
    },
    methods: {
        togglePasswordVisibility() {
            this.showPassword = !this.showPassword;
        },
        submitForm() {
            try {
                if (this.recaptchaToken == 0) {
                    this.errorMessage = "Пройдите recaptcha";
                    this.isErrorVisible = true;
                }
                else {
                    this.errorMessage = "";
                    this.isErrorVisible = false;
                    login(this.login, this.password, this.recaptchaToken).then(() => {
                        this.$refs.vueRecaptcha.reset();
                        this.formReset();
                        this.$router.push({ path: '/admin' });
                    }).catch((e) => {
                        this.$refs.vueRecaptcha.reset();
                        this.errorMessage = e.message;
                        this.isErrorVisible = true;
                        this.formReset();
                    })
                }
            }
            catch {
                this.errorMessage = "Пройдите recaptcha или перезагрузите страницу";
                this.isErrorVisible = true;
            }
        },
        formReset() {
            this.login = '';
            this.password = '';
        },
        recaptchaVerified(response) {
            this.recaptchaToken = response;
        },
        recaptchaExpired() {
            this.$refs.vueRecaptcha.reset();
        },
        recaptchaFailed() {
        },
        recaptchaError(reason) {
            this.errorMessage = "Ошибка recaptcha: " + reason;
            this.isErrorVisible = true;
        }
    }
};
</script>