<template>
    <form class="signup" @submit.prevent="submitForm">
        <div class="form-group">
            <label for="firstName">Имя</label>
            <input type="text" class="form-control" name="firstName" id="firstName" pattern="[a-zA-Zа-яА-Я]{2,15}"
                v-model="firstName" required
                title="только текст, не менее 2 символов, не более 15">
        </div>
        <div class="form-group">
            <label for="lastName">Фамилия</label>
            <input type="text" class="form-control" name="lastName" id="lastName" v-model="lastName"
                pattern="^([a-zA-Zа-яА-Я-]{2,15}\s?){1,2}$" required
                title="только текст, не менее 2 символов, не более 15">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" v-model="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        </div>
        <div class="form-group">
            <label for="login">Логин</label>
            <input type="text" class="form-control" name="login" id="login" pattern=".{6,}" v-model="login" required
            title="не менее 6 символов">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <div class="input-group">
                <input :type="passwordFieldType" class="form-control" name="password" id="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required v-model="password"
                    title="не менее 8 символов, обязательно совместное использование прописных, строчных букв, цифр, символов"
                    >
                <div class="input-group-append">
                    <button id="togglePassword" type="button" class="btn btn-light" @click="togglePasswordVisibility"><i
                            class="fa fa-eye" aria-hidden="true"
                            :class="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"></i></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Подтверждение пароля</label>
            <div class="input-group">
                <input :type="passwordFieldType" class="form-control" name="confirmPassword" id="confirmPassword"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required v-model="confirmPassword"
                    title="не менее 8 символов, обязательно совместное использование прописных, строчных букв, цифр, символов">
                <div class="input-group-append">
                    <button id="toggleConfirmPassword" type="button" class="btn btn-light"
                        @click="togglePasswordVisibility"><i class="fa fa-eye" aria-hidden="true"
                            :class="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"></i></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="age">Возраст</label>
            <select class="form-control" name="age" id="age" v-model="age">
                <option>Мне 18 лет</option>
                <option>Нет 18 лет</option>
            </select>
        </div>
        <div class="form-group">
            <label>Пол</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked
                    v-model="gender">
                <label class="form-check-label" for="male">Мужской</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="female" value="female" v-model="gender">
                <label class="form-check-label" for="female">Женский</label>
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="terms" id="terms" v-model="terms">
            <label class="form-check-label" for="terms">Принимаю правила пользования сервисом</label>
        </div>
        <vue-recaptcha v-show="showRecaptcha" sitekey="6LfoEJQpAAAAAE87zdU5FMEawdhZrHRwiN2c5Yxs" size="normal"
            theme="light" hl="ru" :loading-timeout="loadingTimeout" @verify="recaptchaVerified"
            @expire="recaptchaExpired" @fail="recaptchaFailed" @error="recaptchaError" ref="vueRecaptcha">
        </vue-recaptcha>
        <div class="alert alert-danger terms-label mt-2" role="alert" v-if="isErrorVisible">
            {{ errorMessage }}
        </div>
        <button type="submit" class="btn btn-primary mt-2">Отправить</button>
    </form>
</template>

<script>
import vueRecaptcha from 'vue3-recaptcha2';
import { signup } from "../api/auth"
export default {
    data() {
        return {
            firstName: '',
            lastName: '',
            email: '',
            login: '',
            password: '',
            confirmPassword: '',
            age: 'Мне 18 лет',
            gender: true,
            terms: true,
            showPassword: false,
            errorMessage: '',
            isErrorVisible: false,
            showRecaptcha: true,
            loadingTimeout: 30000, // 30 seconds
            recaptchaToken: ''
        };
    },
    components: {
        vueRecaptcha
    },
    computed: {
        passwordFieldType() {
            console.log(process.env)
            return this.showPassword ? 'text' : 'password';
        }
    },
    methods: {
        togglePasswordVisibility() {
            this.showPassword = !this.showPassword;
        },
        submitForm() {
            if (this.password !== this.confirmPassword) {
                this.errorMessage = "Пароль в поле подверждения пароля отличается";
                this.isErrorVisible = true;
                console.log(this.errorMessage);
                return;
            }
            if (this.terms === false) {
                this.errorMessage = "Примите пользовательское соглашение";
                this.isErrorVisible = true;
                console.log(this.errorMessage);
                return;
            }
            try {
                console.log(this.recaptchaToken)
                if (this.recaptchaToken === 0) {
                    this.errorMessage = "Пройдите recaptcha";
                }
                else {
                    this.errorMessage = "";
                    this.isErrorVisible = false;
                    signup(this.firstName, this.lastName, this.email, this.login, this.password,
                        this.confirmPassword, this.age, this.gender, true, this.recaptchaToken)
                        .then(() => {
                            this.$refs.vueRecaptcha.reset();
                            this.formReset();
                            this.$router.push({ path: '/admin' });
                        })
                        .catch((e) => {
                            this.$refs.vueRecaptcha.reset();
                            this.errorMessage = e.message;
                            this.isErrorVisible = true;
                            this.formReset();
                        });

                }
            }
            catch {
                this.errorMessage = "Пройдите recaptcha или перезагрузите страницу";
                this.isErrorVisible = true;
            }
        },
        formReset() {
            this.firstName = '';
            this.lastName = '';
            this.email = '';
            this.login = '';
            this.password = '';
            this.confirmPassword = '';
            this.age = 'Мне 18 лет';
            this.gender = true;
            this.terms = true;
        },
        recaptchaVerified(response) {
            this.recaptchaToken = response;
        },
        recaptchaExpired() {
            this.$refs.vueRecaptcha.reset();
        },
        recaptchaFailed() {
            this.$refs.vueRecaptcha.reset();
        },
        recaptchaError(reason) {
            this.errorMessage = "Ошибка recaptcha: " + reason;
            this.isErrorVisible = true;
        }
    }
};

</script>