body.light-mode {
    background-color: #fff;
    color: #333;
}
body.dark-mode {
    background-color: #333 !important;
    color: #fff;
    .table {
        color: #fff;
    }
    nav {
        background-color: #333 !important;
    }
    a {
        color: #fff !important;
    }
}

