<template>
    <div class="main">
        <AdminHeader isAuth="isLogin" />
        <div class="container mt-3">
            <h2>Здравствуйте, {{ name }}</h2>
            <h2>Добро пожаловать в панель администратора</h2>

            <template v-if="isLogin">
                <h3 class="mt-5">Фамилии всех зарегистрированных пользователей</h3>
                <AdminSurname />

                <h3 class="mt-5">Общее количество зарегистрированных пользователей</h3>
                <AdminUserCount />

                <h3 class="mt-5">Количество пользователей за последний месяц</h3>
                <AdminUserCountLastMonth />

                <h3 class="mt-5">Последний зарегистрированный пользователь</h3>
                <AdminLastReg />

                <h3 class="mt-5">Поиск пользователей по слову</h3>
                <AdminFindUserWord />

                <h3 class="mt-5">Поиск пользователей по фразе</h3>
                <AdminFindUserPhrase />
            </template>
            <template v-else>
                <h3 class="mt-5">Чтобы получить доступ войдите в систему</h3>
            </template>

        </div>
    </div>
</template>

<script>
import AdminHeader from '../components/AdminHeader.vue';
import AdminSurname from '../components/AdminSurname.vue';
import AdminUserCount from '../components/AdminUserCount.vue';
import AdminUserCountLastMonth from '../components/AdminUserCountLastMonth.vue';
import AdminLastReg from '../components/AdminLastReg.vue';
import AdminFindUserWord from '../components/AdminFindUserWord.vue';
import AdminFindUserPhrase from '../components/AdminFindUserPhrase.vue';

import { isAuth, getNameCurrentUser } from '../api/auth'

export default {
    components: {
        AdminHeader: AdminHeader,
        AdminSurname: AdminSurname,
        AdminUserCount: AdminUserCount,
        AdminUserCountLastMonth: AdminUserCountLastMonth,
        AdminLastReg: AdminLastReg,
        AdminFindUserWord: AdminFindUserWord,
        AdminFindUserPhrase: AdminFindUserPhrase
  },
  data () {
    return {
        userName: 'гость'
    }
  },
  computed: {
    isLogin() {
        return isAuth();
    },
    name() {
        if (isAuth())
            return getNameCurrentUser();
        else
            return 'гость';
    }
  }
}
</script>

