<template>
    <div class="main">
        <header class="d-flex flex-row-reverse p-3">
            <ButtonTheme />
        </header>
        <div class="container">
            <h2>Вход</h2>
            <LoginForm />
            <router-link to="/signup"><button class="btn btn-info mt-5">Регистрация</button></router-link>
        </div>
    </div>
</template>

<script>
import LoginForm from '../components/LoginForm.vue'
import ButtonTheme from '../components/ButtonTheme.vue'

export default {
    components: {
        LoginForm: LoginForm,
        ButtonTheme: ButtonTheme
    }
}
</script>
