<template>
    <div class="main">
        <header class="d-flex flex-row-reverse p-3">
            <ButtonTheme />
        </header>
        <div class="container">
            <h1 class="p-4 text-center">Форма регистрации</h1>
            <SignUpForm />
            <router-link to="/"><button type="submit" class="btn btn-info mt-4">Вернуться к форме входа</button></router-link>
        </div>
    </div>
</template>

<script>
import SignUpForm from '../components/SignUpForm.vue'
import ButtonTheme from '../components/ButtonTheme.vue'

export default {
    components: {
        SignUpForm: SignUpForm,
        ButtonTheme: ButtonTheme
    }
}

</script>

